@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Itim&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: black;
}

.container {
    width: 1000px;
    padding: 20px;
    background-color: #B0B8B4FF;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

.budget-display {
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #56A8CBFF;
}

.trans-form form input,
.trans-form form select,
.trans-form form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.trans-list ul {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}

.add-btn {
  background-color: goldenrod;
  border: 2px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:hover {
    background-color: rgb(153, 110, 1);
}

.transaction-item.income {
    color: green;
}

.transaction-item.expense {
    color: red;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
}

.icon-button i {
    font-size: 1.2em;
    color: #333;
}

.icon-button .fa-pen {
    color: green;
}

.icon-button .fa-trash {
    color: #f44336;
}

.icon-button:hover i {
    opacity: 0.7;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.filter-options {
    display: flex;
    gap: 10px;
}

.button {
  background-color: goldenrod;
  border: 2px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  font-size: 11px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
    background-color: rgb(153, 110, 1);
}
